REDTEAM_MCP_AUTHORIZED_SCOPE="*.example.com,192.168.56.0/24"

SHODAN_API_KEY=""

REDTEAM_MCP_TOOL_NUCLEI="C:/Users/bofud/hacking-tools/nuclei_extracted/nuclei.exe"
REDTEAM_MCP_TOOL_SLIVER_SERVER="C:/Users/bofud/hacking-tools/sliver-server.exe"
REDTEAM_MCP_TOOL_SLIVER_CLIENT="C:/Users/bofud/hacking-tools/sliver-client.exe"
REDTEAM_MCP_TOOL_LIGOLO_PROXY="C:/Users/bofud/hacking-tools/ligolo-ng-proxy/proxy.exe"
REDTEAM_MCP_TOOL_CAIDO_CLI="C:/Users/bofud/hacking-tools/caido-cli.exe"
REDTEAM_MCP_TOOL_EVILGINX="C:/Users/bofud/hacking-tools/evilginx_extracted/evilginx.exe"
REDTEAM_MCP_TOOL_HAVOC="C:/Users/bofud/hacking-tools/Havoc/havoc.exe"

REDTEAM_MCP_LOG_LEVEL="INFO"
REDTEAM_MCP_LOG_DIR=""

REDTEAM_MCP_EXEC_TIMEOUT_SEC="300"
REDTEAM_MCP_MAX_OUTPUT_BYTES="5242880"

REDTEAM_MCP_DRY_RUN="0"
REDTEAM_MCP_REQUIRE_ACK="1"
